<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="../static/style.css" rel="stylesheet" />
    <title>Album</title>
</head>
<body class-="body">
<header>
    <h1 class=head>Albums</h1>
    <nav>
        <ul>
            <li> Menu</li>
            <li> Albums</li>
            <li> Contact Us</li>


        </ul>
    </nav>


</header>

<main>


<p th:text="${name}"></p>


    <tr th:each="album: ${albums}">
        <td th:text="${album.title}" ></td>
        </br>
        <td th:text="${album.artist}" ></td>
        </br>
        <td th:text="${album.songCount}" ></td>
        </br>
        <td th:text="${album.length}" ></td>
        </br>
        <img th:src="${album.imageUrl}" alt="image" />

    </tr>


</main>

<footer>

</footer>

</body>
</html>