<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="../static/style.css" rel="stylesheet" />
    <title>Album</title>
</head>
<body class-="body">
<header>
    <h1 class=head>welcome to songs website</h1>
    <nav>
        <ul>
            <li> Menu</li>
            <a href="'/addingSong '+${album.id}">
            <li> Albums</li>
            </a>
            <li>Songs</li>
            <li> Contact Us</li>


        </ul>
    </nav>


</header>

<main>


</main>

<footer>

</footer>

</body>
</html>